.demo-toggle-title {
    margin-top: 0.5rem;
  }
  
  .top-bar {
    width: 100%;
  }
  
  .menu .active {
    font-weight: bold;
  }

  
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("../images/black.jpeg") center center no-repeat;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: #fefefe;
    font-weight: bold;
  }
  
  

.hero-section {
  background: url("https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}


.image-hover-wrapper {
    position: relative;
  }
  
  .image-hover-wrapper a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .image-hover-wrapper a img {
    float: left;
    overflow: hidden;
    width: 100%;
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fefefe;
    display: inline;
    height: 100%;
    margin-left: -100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 80;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.25s;
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal:hover {
    opacity: 1;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
    opacity: 1;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.25s;
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal p {
    bottom: 0;
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .image-hover-wrapper a .fa {
    font-size: 24px;
  }
  
  .image-hover-wrapper .image-hover-wrapper-banner {
    background-color: rgba(23, 121, 186, 0.8);
    color: #fefefe;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 25%;
    width: 75%;
    z-index: 10;
  }
  
  

